@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #f1faff;
  --text-dark: #030712;
  --text-light: #6b7280;
  --extra-light: #fbfbfb;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border- ;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__title {
  padding-bottom: 0.5rem;
  margin-bottom: 4rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-dark);
  position: relative;
}

.section__title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 3px;
  width: 75px;
  background-color:blue;
}

.logo-edit{
  width: 300px;
  display: flex;
}

.btn {
  padding: 0.75rem 2rem;
  font-size: 1.0rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  font-weight: 400;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform .5s ease, height .2s ease;
}

.wrapper .icon-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 45px;
  height: 45px;
  background: #162938;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}

h2 {
  font-size: 30px;
  color: #555;
  text-align: center;
}

.input-group {
  position: relative;
  width: 320px;
  margin: 30px 0;
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #333;
  padding:  0 5px;
  pointer-events: none;
  transition: .5s;
}

.input-group input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: #333;
  padding: 0 10px;
  background: transparent;
  border: 1px solid #333;
  outline: none;
  border-radius: 5px;
}

.input-group input:focus~label,
.input-group input:valid~label {
  top: 0;
  font-size: 12px;
  background: #fff;
}

.remember-forgot {
  font-size: .9em;
  color: #162938;
  font-weight: 500;
  margin: 10px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remember-forgot label {
  display: flex;
  align-items: center;
}

.remember-forgot label input {
  accent-color: #162938;
  margin-right: 5px;
}

.remember-forgot a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #162938;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  outline: none;
}

.sign-link {
  font-size: 14px;
  text-align: center;
  margin: 25px 0;
}

.sign-link p {
  color:#333;
}

.sign-link p a {
  color: #6b7280;
  text-decoration: none;
  font-weight: 600;
}

.sign-link p a:hover {
  text-decoration: underline;
}

.sign-up {
  display: none;
}

.nav__links .dropdown li {
  display: block;
}

.nav__links .dropdown {
  width: 100%;
  background-color: white;
  position: absolute;
  z-index: 999;
  display: none;
}

.nav__links .link:hover .dropdown {
  display: block;
}

.header__bar {
  padding: 0.5rem;
  font-size: 0.9rem;
  text-align: center;
  background-color: var(--text-dark);
  color: var(--white);
}

.nav__container {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link a {
  padding: 0 0.5rem;
  font-size: 1.0rem;
  font-weight: 600;
  color: var(--text-light);
  transition: 0.3s;
}

.link a:hover {
  color: var(--text-dark);
  background-color: #abb5cc;
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper.active {
  height: 520px;
}

.wrapper .form-wrapper {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
}

.wrapper .form-wrapper.sign-in {
  transition: transform .18s ease;  
  transform: translateX(0);
}

.wrapper.active .form-wrapper .sign-in {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-wrapper .sing-up {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-wrapper .sign-up {
  transform: translateX(0);
}

.form-wrapper h2 {
  font-size: 2em;
  color: #162938;
  text-align: center;
}

.input-wrapper {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 29%;
  left: 5px;
  transform: translate(-50%);
  font-size: 1em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #162938;
  line-height: 57px;
}

.remember-forgot {
  font-size: .9em;
  color: #162938;
  font-weight: 500;
  margin: 10px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remember-forgot label input {
  accent-color: #162938;
  margin-right: 3px;
}

.remember-forgot a {
  color: #162938;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

header {
  margin-top: 10rem;
  background-color: var(--primary-color);
}

.header__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.header__content p {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--text-light);
  margin-bottom: 0.5rem;
}

.header__content h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: var(--text-dark);
}

.header__content .btn {
  background-color: rgb(222, 50, 34);
  color: var(--white);
}

.header__image {
  position: relative;
}

.header__image img {
  max-width: 400px;
  position: absolute;
  bottom: -5rem;
}

.musthave__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  list-style-type: none;
}

.musthave__nav a {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--text-light);
  transition: 0.3s;
}

.musthave__nav a:hover {
  color: rgb(227, 91, 113);
}

.filter-condition {
  padding: 20px;
  height: 20px;
  font-size: 1.1rem;
  font-weight: bold;
}

.filter-condition select {
  width: 120px;
  padding: 0 0 0 10px;
  border: none;
  outline: none;
  font-weight: bold;
  color: #333;
  background: #e8f0fe;
  cursor: pointer;
}

.musthave__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.musthave__card {
  display: grid;
  gap: 0.5rem;
  color: var(--text-dark);
}

.musthave__card h4 {
  font-size: 1rem;
  font-weight: 600;
}

.musthave__card p {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.footer__heading {
  color: green;
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  position: relative;
}

.footer__heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 50px;
  background-color: brown;
}

.footer__col p {
  font-size: 1.0rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--text-light);
  cursor: pointer;
  transition: 0.3s;
}

.footer__col p:hover {
  color: rgb(206, 63, 87);
}

.footer__col p i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.footer__link {
  display: flex;
  font-size: 1.2em;
  font-style: oblique;
  margin-top: 10px;

}

.social__media {
  font-size: 1.5em;
  margin-right: 1rem;
}

.social__media {
  grid-column: 4 / 5;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


@media (width < 900px) {
  header {
    margin-top: 5rem;
  }

  .musthave__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

@media (width < 600px) {
  .nav__links {
    display: none;
  }

  header {
    margin-top: 0;
  }

  .header__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .header__image {
    display: none;
  }

  .musthave__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.contact {
  min-height: 100vh;
  background-color: #e8f0fe;
  padding: 50px;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.contaxt-wrapper {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 30px;
}

.contact-form {
  text-align: left;
}

.contact-form h4 {
  margin-bottom: 20px;
  color: #333;
  font-weight: normal;
}

.form-group {
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid;
  background-color: #ffffff;
  color: #333;
} 

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 8px #bbb;
}

.contact_us button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact_us button:hover {
  background-color: #45a049;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }
  .contact-wrapper {
    grid-template-columns: 1fr;
  }
}

/*Social Media Link Styling*/

.social_cont{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.social_cont .social_button{
  align-items: center;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  margin-bottom: 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.social_cont .social_button:hover{
  width: 200px;
}
.social_cont .social_button .social_icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 6px;
  transition: all 0.3s ease-out;
}

.social_cont .social_button:nth-child(1):hover .social_icon{
  background: #e1306c;
}
.social_cont .social_button:nth-child(2):hover .social_icon{
  background: #1DA1F2;
}

.social_cont .social_button:nth-child(3):hover .social_icon{
  background: #4267B2;
}

.social_cont .social_button:nth-child(4):hover .social_icon{
  background: #ff0000;
}
.social_cont .social_button .social_icon i{
  font-size: 30px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.social_cont .social_button:hover .social_icon i{
  color: #fff;
}
.social_cont .social_button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.social_cont .social_button:nth-child(1) span{
  color: #E1306C;
}
.social_cont .social_button:nth-child(2) span{
  color: #1DA1F2;
}
.social_cont .social_button:nth-child(3) span{
  color: #4267B2;
}

.social_cont .social_button:nth-child(4) span{
  color: #ff0000;
}

.social_media {
  font-size: 1.5em;
  margin-right: 1rem;
}

.social_media {
  grid-column: 4 / 5;
  flex-direction: column;
  
}

.fb-share-button{
 margin-top: 15px;
 
}

.ri-facebook-box-fill{
  color: 	#1877F2;
}

.ri-twitter-x-line{
  color: #000000;
}

.ri-instagram-line{
    background: radial-gradient(circle at 30% 110%,
            #feda75 0%,
            #fa7e1e 25%,
            #d62976 50%,
            #962fbf 75%,
            #4f5bd5 100%);
    color: #f1faff ;
    border-radius: 5px;
    align-items: center;
  }

.ri-youtube-fill{
  color: red ;

}


/*Search Form Styling*/
.search_bar {
  overflow: hidden;
  display: grid;
  place-items: left;
  border: none;

}

.search_bar input{
  font-family: "Roboto", sans-serif;
  font-size: medium;
  font-weight: 400;
  float: left;
  display: block;
  color: #030712;
  padding: 8px;
  font-size: 16px;
  border-color: black;
  border-right: none;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 350px;
  height: 30px;
}


.search_bar button{
  padding: 10px ;
  background-color: none;
  font-size: 20px;
  margin-right: 30px;
  color: #030712;
  border-color: black;
  border-radius: 8px;
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 50px;
}

.search_title {
  font-size: 30px;
  color: green;
  margin-bottom: 15px;
  letter-spacing: 0.5cap;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}