@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif; 
    font-weight: 400;
}

header{
    background-color: black;
    color: white;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a{
    color: white;
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.wrapper {
    max-width: 75%;
    margin: auto;
}

.wrapper p {
    font-size: 1.8rem;
}

.wrapper > p,
.wrapper > h1 {
    margin: 1.5rem 0;
    text-align: center;
}

.wrapper > h1 {
    letter-spacing: 3px;
}

.accordion {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.accordion i {
    font-size: 1.6rem;
}

.active,
.accordion:hover {
    background-color: #f1f7f5;
}

.pannel {
    padding: 0.2rem 2.5rem 2rem;
    background-color: #fff;
    overflow: hidden;
    background-color: #f1f7f5;
    display: none;
}

.pannel p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;
}

.faq {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
}

.faq .active {
    border: none;
}