body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif; 
}

header{
    background-color: black;
    color: white;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a{
    color: white;
    text-decoration: none;
}

.hero {
    padding: 10px;
}

.heading h1 {
    color:black;
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero-content {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    animation: fadeInUp 2s ease;
}

.hero-content h2 {
    font-size: 38px;
    margin-bottom: 20px;
    color: darksalmon;
}

.container{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px;
    margin: 0 auto;
    width: 80%;

}

.hero-content p{
    padding: 20px;
    font-style: initial;
    border-radius: 10px;
    flex: 2;
    font-size: 20px;
    text-align: center;
}

.hero-image {
    flex: 1;
    text-align: center;
    width: 100%;
    margin: auto;
    animation: fadeInRight 2s ease;
}

img {
    max-width: 350px;
    height: auto;
    border-radius: 10px;
}

.story .container h2{
    flex: 2;
    text-align: center;
    font-size: 3em;
    padding:20px;
    margin-bottom: 15px;
    animation: fadeInDown 2s ease;
}

.story .container p {
    line-height: 1.6;
    font-size: 1.2em;
    margin-bottom: 10px;
    animation: fadeInDown 2s ease;

}

footer{
    background-color: darkgray;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

@keyframes fadeInUp {
    0%{
        opacity: 0;
        transform: translateY(200px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeInRight {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeInDown {
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


